body {
  background-color: #E0F2FE;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: rgb(255, 255, 255);
  top: 0;
  z-index: 1000;
  flex-wrap: wrap;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  width: 41px;
  height: 41px;
}

.roadSafeTitle{
  background: linear-gradient(90deg, #4181EF, #602FF0);
  -webkit-background-clip: text; 
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.list li a {
  color: #555C69;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: "Noto Sans Georgian", sans-serif;
}

.current {
  background-color: #4181EF;
  border-radius: 30px;
  padding: 15px 20px;
}

.list li a.current {
  color: white;
}

.rectangle{
  background: linear-gradient(180deg, #4181EF, #602FF0);
  width: 217px;
  height: 33px;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  font-family: "Noto Sans Georgian", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 15px;
}

.container{
  display: flex;
  justify-content: space-between;
}

.container-2{
  display: flex;
  flex-direction: column;
  padding: 100px 100px;
  gap: 10px
}

.container-2 h1, 
.container-2 h3, 
.container-2 .rectangle {
  margin: 0; 
}

.container-2 .statement{
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: 500;
  color: #555C69;
}

.container h1{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  font-size: 75px;
}

.linear-gradient{
  background: linear-gradient(90deg, #4181EF, #EA7427 50%);
  -webkit-background-clip: text; 
  background-clip: text;
  -webkit-text-fill-color: transparent;
}